@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Zen+Old+Mincho:wght@900&display=swap');

:root {
    --background: #1F3222;
    --main-accent: #C29B64;
    --accent1: #EEB01F;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

body {
    background-color: var(--background);
    color: #ffffff;
    height: 100%;
    background-image: url(../media/images/geometric-leaves.webp);
    background-repeat: repeat;
    background-blend-mode: color-burn;
    font-family: 'Quicksand', sans-serif;
}
.decorative-font ,h2 {
    font-family: 'Zen Old Mincho', serif;
}
h2{
    font-size: 3rem;
}
a {
    color: #ffffff;
}

.abutton{
    background-color: var(--main-accent);
}
/* Style navba  */
nav {
    border-bottom: #EEB01F .5rem solid;
    z-index: 5;
    width: 100%;
}

#navlist {
    background-color: var(--main-accent);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7vh;
}

#navlist>li {
    width: 12rem;
}
#navlist li:nth-child(1) > a > img{
    height: 5vh;
}
#navlist a {
    font-size: 2rem;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

/* Start home page */

#specialties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
/* Banner overlay */
#header-banner{
    height: 100%;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0,0.25);
}
#ppourslogo {
    height: min-content;
    font-size: 8rem;
    margin: -2.5% 0;
}
/* Video */
#header-video{
    overflow: hidden; /* Crop video */
    height: 100vh; 
    width: 100vw;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 32%;
    background-color: var(--main-accent);
}
.card > figure{
    padding: 5%;
}
.card > figure > figcaption{
    font-size: 2.5rem;
}

.button {
    color: white;
    background-color: var(--main-accent);
    border: none;
}

/* Start Footer */
footer{
    background-color: var(--accent1);
}

/* Start Menu */

#menu {
    display: flex;
    flex-wrap: wrap;
}


/* Start About Us */

#isaac {
    display: flex;
}

#ryan {
    display: flex;
}

#diagonal>line {
    -webkit-transform: rotate(10deg);
    justify-content: center;
}

#diagonal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}